    
        *{margin: 0;padding: 0;}
        #div1{
            margin: 5px;
            height:100px ;
            width: 100px ;
            border-radius: 50px;
            background-color: green;
        }
        .continer{
            margin: 5px;
            height: 100px;
            width: 100px;
            background-color: yellow;
            display: inline-block;
        }
        nav a{ text-decoration: none;
        margin-left: 50px;
        }
        header{
            background-color: turquoise;
        
        }
        .fixed{
            margin: 5px;
            height: 50px;
            width: 50px;
            background-color: grey;
        }
         #fixed{
            margin: 5px;
            height: 50px;
            width: 50px;
            background-color: grey;
            
            position: fixed;
            left: 200px;
            top: 400px;
        }
        #box1{
        position: absolute;
        background-color: red;
        height: 50px;
        width: 50px;
        left: 100px;
        top:50px;
        z-index: 1;
    }
    .box2{
        position: absolute;
        background-color: rgb(0, 255, 85);
        margin: 5px;
        height: 50px;
        width: 50px;
        left: 100px;
        top:80px;
        z-index: 2;
    }
    footer{
        position: fixed;
        bottom: 0px;
    }
